@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --cream: #F4EBE0
    --tan: #D0B49F
}
body {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.wrapper {
    height: 0vh;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.title-container{
    background-color:var(--tan);
}

/* SEARCH CONTAINER CSS */
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-element{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: 0.8s;
}
.search-element h3{
    align-self:center;
    margin-right: 1rem;
    font-size: 1.7rem;
    color: black;
    font-weight: 300;
    margin-bottom: .2rem;
}
.search-element .form-control{
    padding: 0.8rem 0.4rem;
    font-size: 0.84rem;
    background-color: #FFFFFF;
    border: none;
    outline: 2px solid #abbac6;
    border-radius: 5px;
}
.search-container .form-control:focus {
    outline: 2px solid #86bdea;
    transition: 0.17s;
}
.search-list{
    position: absolute;
    right: 0;
    top: 105%;
    outline: 2px solid #abbac6;
    border-radius: 5px;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}
.search-list .search-list-item{
    background-color: rgb(249, 249, 249);
    padding: 0rem;
    width: 214px;
    color: rgb(87, 86, 86);
    cursor: pointer;
    transition: background-color 200ms ease;
}
.search-list .search-list-item:Hover{
    background-color:#d0dbdb
}

.search-list-item{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 0rem;
}

.search-item-info h3{
    font-weight: 600;
    font-size: 0.96rem;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
}

.search-item-info p{
    font-size: 0.8rem;
    margin-top: -0.2rem;
    font-weight: 600;
    margin-left: 0.2rem;
    margin-bottom: 0.1rem;
    opacity: 0.6;
}

.hide-search-list{
    display: none;
}

.tile-title-container{
    height: 27px;
    box-sizing: border-box;
    left:10px;
    right:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: -1rem;
    margin-right: 4.33rem; /*70px*/
}
.tile-title-container .title {
    width: 4.33rem;
    height: 31px;
    font-size: 13px;
    box-sizing: border-box;
    border-bottom:2px solid rgb(150, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.tile-title-container .title.nameHolder{
    width: 8.66rem; /*140px*/
    height: 31px;
    font-size: 13px;
    box-sizing: border-box;
    border-bottom:2px solid rgb(150, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

/* TILE CONTAINER CSS */
.tile-container {
    margin-top: 1rem;
    margin-bottom: 30px;
    display: inline-block;
}
.tile-container div {
    display: flex;
}
.tile-container .tile {
    width: 4.33rem;
    height: 70px;
    border: 2px solid#c4c3c3;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

#game {
    display: grid;
    place-items:center;
}
.grid {
    margin-top: 1rem;
    display: grid;
    grid-template-rows: repeat(6,auto);
    grid-template-columns:repeat(9,auto);
    width: auto / right -86px;
    margin-left: 5.32rem; /*86px*/
}

.grid .tile {
    width: 4.33rem;
    height: 4.33rem;
    border: 2px solid#c4c3c3;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 8px;
    display: grid;
    place-items: center;
    font-size:12px;
    font-weight:600;
    text-align:center;
    color: rgb(50, 48, 48);
}

/* TILE TYPES */
.tile.lower {
    background-image: url(assets/lower.png);
    background-size: cover;
}
.tile.higher {
    background-image: url(assets/higher.png);
    background-size: cover;
}
.tile.correct {
    background-image: url(assets/correct.png);
    background-size: cover;
}
.tile.wrong {
    background-image: url(assets/wrong.png);
    background-size: cover;
}
.tile.nameHolder {
    text-align: center;
    width: 8.66rem; /*140px*/
    font-size: 14px;
    font-weight: 700;
    line-height: 12pt;
}
.tile.hintHolder {
    text-align: center;
    width: 8.66rem; /*140px*/
    font-size: 14px;
    font-weight: 700;
    border: none;
}
.tile.hintHolder img {
    width: 8.66rem; /*140px*/
    height: 70px;
}

@keyframes flip {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.animated {
    animation: flip 0.7s ease;
}
.fades {
    animation: fade-in 0.3s ease;
}

/* Popups and Stuff yeah */
* {
    box-sizing: border-box;
}

.button-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-bottom: -10px;
    margin-left: 4.4rem;
}

button {
    border: 0;
    cursor: pointer;
    background-color: var(--cream);
    margin-left: 10px;
    margin-right: 10px;
    border-radius:5px;
}
.button .daily {
    margin-top: -7px;
    margin-left: 12px;
}
button.daily img {
    width:150px;
    height:90px;
}
.button .end{
    border: none;
}



.button img {
    width:80px;
    height:80px;
}

button:active {
    opacity: 0.8;
}

.popup {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.popup img {
    width:60px;
    height:60px;
}
.popup.open {
    opacity: 1;
    z-index: 999;
}

.popup-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}
canvas {
    margin-right: 37px
}
.popup-inner h2 {
    margin: 0;
}

.popup-inner p {
    line-height: 24px;
    margin: 10px 0;
}

.popup-inner.hint p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 48px;
    margin: 10px 0;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    opacity:0;
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.hints {
    margin-top: 5px;
    margin-bottom: -20px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    position: relative;
}
.hints p{
    margin: 2px;
}
.button.hint img {
    width: 120px;
    height: 70px;
}

